<a href="https://colab.research.google.com/github/Pooja4546/pooja/blob/main/Untitled19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [13]:
import pandas as cars
mydataset = {
    'cars':["bmw","volvo","swift"],
    'passings':[2, 7, 3]
}
mycar = cars.DataFrame(mydataset)
print(mycar)

    cars  passings
0    bmw         2
1  volvo         7
2  swift         3

In [17]:
from tabulate import tabulate
print(tabulate([['aditi',19],['pooja',16],
                ['radha',12],['mona',14],
                ['raja',45],['kanu',50]],
                headers=['name','age']))

name      age
------  -----
aditi      19
pooja      16
radha      12
mona       14
raja       45
kanu       50

In [21]:
from tabulate import tabulate
import pandas as pd
dict={'name':['sonu','rashi','jyoti','priya'],
      'maths':[88,78,98,97],
      'science':[93,87,78,98]}
df=pd.DataFrame(dict)
print(tabulate(df,headers='keys',tablefmt='psql'))

+----+--------+---------+-----------+
|    | name   |   maths |   science |
|----+--------+---------+-----------|
|  0 | sonu   |      88 |        93 |
|  1 | rashi  |      78 |        87 |
|  2 | jyoti  |      98 |        78 |
|  3 | priya  |      97 |        98 |
+----+--------+---------+-----------+